@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
  width: 90%;
  height: 75px;
  background: linear-gradient(to right, #0965c0, #c53a94, #0fffaf);
  filter: blur(87px);
  z-index: -1;
  margin-top: 3rem;
}
